header nav.main_nav {
      position: absolute;
      z-index: 5;
      width: 100%;
      .social_top {
            background: #B4B1B2;
            .social_top__nav {
                  @include flexrowspacebetween;
                  max-width: 1200px;
                  width: 100%;
                  margin: 0 auto;
            }
            form .form_group {
                  
                  input {
                        background: transparent;
                        padding: 5px;
                        border: none;
                        width: 0px;
                  }
                  span{
                        cursor: pointer;
                        i {
                              @include transition;
                              font-size: 20px;
                              color: #979797;
                        }
                        &:hover {
                              i {
                                    color: #FFB3BF;
                              }
                        }
                  } 
            }
            ul {
                  @include flexrowcenter;
                  list-style: none;
                  padding: 0;
            }
            li a i {
                  margin-right: 10px;
                  color: #979797;
                  font-size: 18px;
            }
      }
      .main_nav_top {
            background: #F3F3F3;
      }
      .main_nav_top__wrapper {
            @include flexrowspacebetween;
            margin: 0 auto;
            max-width: 1200px;
            padding: 13px 0;
      }
      // .main_nav_top__wrapper logo {
      // }
      .main_nav_top__wrapper ul {
            display: flex;
            list-style: none;
      }
      // .main_nav_top__wrapper ul li {
      // }
      .main_nav_top__wrapper ul a {
            position: relative;
            text-decoration: none;
            color: gray;
            font-weight: 500;
            font-size: 18px;
            padding: 10px 2px;
            margin-left: 25px;
            text-transform: uppercase;
            font-weight: normal;
      }
      .main_nav_top__wrapper ul li a span.slider_bottom {
            position: absolute;
            height: 2px;
            background: #FFB3BF;
            width: 0%;
            bottom: 0;
            left: 0;
            border-radius: 3px;
      }
}